<div class="background" (click)="onClose()"></div>
<div class="content">
  <div class="spinner" *ngIf="isLoading"></div>
  <ul *ngIf="!isLoading">
    <li class="list-item" *ngFor="let attachment of attachments">
      <a target="_blank" [href]="attachment.url">{{ attachment.fileName }}</a>
      <a target="_blank" [href]="attachment.url + '?w=download'">Download</a>
      <button class="delete-button" (click)="onDelete(attachment)">X</button>
    </li>
  </ul>
  <span *ngIf="attachments.length == 0 && !isLoading && !erro"
    >There are no attachments to show</span
  >
  <span class="erro" *ngIf="erro">Something went wrong</span>
  <button *ngIf="!isLoading" class="upload-button green">
    {{ uploadButtonText }}
    <input class="upload" type="file" (change)="onFile($event)" />
  </button>
</div>
