<div class="container">
  <span>Filter by</span>
  <div class="menu">
    <div class="input-container">
      <input type="radio" name="search-filter" id="code" />
      <label for="code">Code</label>
    </div>
    <div class="input-container">
      <input type="radio" name="search-filter" id="description" />
      <label for="description">Description</label>
    </div>
    <div class="input-container">
      <input type="radio" name="search-filter" id="flag" />
      <label for="flag">Feature Flag</label>
    </div>
    <div class="input-container">
      <input type="radio" name="search-filter" id="notes" />
      <label for="notes">Notes</label>
    </div>
  </div>
</div>
