@import "../../styles.scss";

.background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $default-background-color;
  opacity: 0.95;
}

.content-container {
  position: fixed;
  top: 80px;
  left: calc((100% - 450px) / 2);
  box-shadow: 0 0 10px black;
  background-color: $default-background-color;
  animation: load 500ms linear 1;
  border-radius: 20px;
  z-index: 1;
  height: 600px;
  width: 450px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: calc(100% - 10px);
    text-align: center;
    text-overflow: clip;
    overflow-y: auto;
    font-family: $font-roboto-light;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 5px;
    }
  }

  .sub_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin: 5px;
    text-shadow: 0 0 1px black;
  }

  p {
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 5px;
    font-weight: 600;
  }

  @keyframes load {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
